* {
    margin: 0;
    color: #0c9300;
}

body {
    margin-top: 2vmin;
    background-color: #021900;
    
}

header {
    margin-top: 2vmin;
    text-align: center;    
}

.board {
    margin-top: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#board1 {
    display: grid;
    border: solid 2px #09c900;
    grid-template-columns: repeat(10, 6vmin [col-start]);
    grid-template-rows: repeat(10, 6vmin [row-start]);
}

#board2 {
    display: grid;
    border: solid 2px #09c900;
    grid-template-columns: repeat(10, 6vmin [col-start]);
    grid-template-rows: repeat(10, 6vmin [row-start]);
}

.spaces {
    border: solid 1px white;

}

.spaces:hover {
    cursor: pointer;
}

.hit {
    height: 5vmin;
    width: 5vmin;
    margin: 2px;
    border: solid 1px white;
    border-radius: 50%;
    background-color: white;
}

.miss {
    height: 5vmin;
    width: 5vmin;
    margin: 2px;
    border: solid 1px white;
    border-radius: 50%;
}


