* {
    margin: 0;
    color: #0c9300;
}

body {
    margin-top: 2vmin;
    background-color: #021900;
    text-align: center;
    
}

body > #statusMessage {
    margin-top: 3vmin;
}

header {
    margin-top: 2vmin;
    text-align: center;    
    display: flex;
    justify-content: center;
}

nav {
    margin-top: 4vmin;
    margin-bottom: -3vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 4vmin;
}

button {
    margin-top: 2vmin;
    height: 5vmin;
    width: 8vmin;
    background-color: #021900;
    border: solid 1px #09c900
}

button:hover {
    cursor: pointer;
    color: #021900;
    background-color: #09c900;
}

.ship {
    display:grid;
    grid-template-columns: repeat(5, 6vmin [col-start]);
}

.shipSpace {
    border: solid 1px white;
    background-color: #09c900;
}

.board {
    margin-top: 10vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#board1 {
    display: grid;
    border: solid 2px #09c900;
    grid-template-columns: repeat(10, 6vmin [col-start]);
    grid-template-rows: repeat(10, 6vmin [row-start]);
}

#board2 {
    display: grid;
    border: solid 2px #09c900;
    grid-template-columns: repeat(10, 6vmin [col-start]);
    grid-template-rows: repeat(10, 6vmin [row-start]);
}

.spaces {
    border: solid 1px white;

}

.spaces:hover {
    cursor: pointer;
}

.hit {
    height: 5vmin;
    width: 5vmin;
    margin: 2px;
    border: solid 1px white;
    border-radius: 50%;
    background-color: white;
}

.miss {
    height: 5vmin;
    width: 5vmin;
    margin: 2px;
    border: solid 1px white;
    border-radius: 50%;
}


